<!DOCTYPE html>
<html lang="es" data-ng-app="BootstrapAngularJS">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>AngularJS y Bootstrap</title>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body data-ng-controller="controllerBootstrapAngularJS">
        <div data-ng-include src="'app/menu.html'"></div>
        <div class="jumbotron">
            <div class="container">
                <h1>APP de Angular con Bootstrap</h1>
                <input type="text" class="form-control" data-ng-model="newFilm">
                <a class="btn btn-primary" data-ng-click="addFilm()">Nueva película</a>
            </div>
        </div>
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="film in films">{{film}}</li>
            </ul>
        </div>
        <!-- /.container -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script>
            var app = angular.module("BootstrapAngularJS", []);
            app.controller('controllerBootstrapAngularJS',['$scope', function($scope){
                $scope.films = ['Indiana Jones y la última cruzada','Los goonies','Star Wars','El secreto de la pirámide'];
                $scope.addFilm = function() {
                    $scope.films.push($scope.newFilm);
                }
            }]);
        </script>
    </body>

</html>